
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top
    a.navbar-brand(href='/')
      .fa-2x
        span.fa-layers.fa-fw
          i.far.fa-circle.fa-lg
          i.fas.fa-list-alt.fa-xs(data-fa-transform='right-1')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav
        each item in h.menu
            li.nav-item(class=(currentPath.endsWith(item.slug) ? 'active' : ''))
              a.nav-link(href=item.slug alt=`${item.title}`) #{item.title}
      if currentPath.endsWith('/') 
        a#scrapeBtn.btn.btn-primary.text-white Get News!
    select.nav-item.dropdown#scrape-options
      a.nav-link.dropdown-toggle(data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false') Choose Your News
      .dropdown-menu 
        option.dropdown-item(value='choose') Choose Your News
        option.dropdown-item(value='swimswam') Swimming: SwimSwam.com
        option.dropdown-item(value='velonews') Cycling: VeloNews.com
        option.dropdown-item(value='runnersworld') Running: RunnersWorld.com
        option.dropdown-item(value='triathlete') Triathlon: Triathlete.com
