
footer.site-footer.bg-dark.position-relative
  .container-fluid
    .row.text-white.text-center
      .col-sm-8
        ul.nav.ml-5
          each item in h.menu
            li.nav-item
              a.nav-link.text-white(href=item.slug alt=`${item.title}` class=(currentPath.endsWith(item.slug) ? 'active' : '')) #{item.title}
      .col-sm-4.footer__block.d-flex.align-items-center.justify-content-center
        small &copy; Copyright 2018 Bo Slott
        a(href='#articleListing').scrolltop
          span
            i.fas.fa-chevron-circle-up.fa-2x
