
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(content="news top-news recent-news " name="keywords")
  meta(content="This scraper will find the top articles from news sites and allow you to save them and add notes or comments to your saved articles" name="description")

  title #{title} | Bo Slott Online - Full Stack Web Developer
  link(rel='icon' type='image/png' href='/images/scraper.png')
  link(href='/dist/style.css' rel='stylesheet')
  script(defer src='/images/font-awesome/fontawesome-all.js')
  